/oneDmgcm/NOMAD_ACS
/mcd-datafile
/mgcm-datafile
testcode.tgz
/oneDmgcm/libo
/oneDmgcm/testphys1d.e
/oneDmgcm/diagfi.nc
*.zip
/oneDmgcm/profile.out
/MCD
/bash_scripts
/oneDmgcm/*.sh
/TLM
/oneDmgcm/callphys.def
/oneDmgcm/fort*
/oneDmgcm/g1d.ctl
/oneDmgcm/run.def
/oneDmgcm/startfi.nc
/Chemistry_Schemes
/oneDmgcm/g1d.ctl
/oneDmgcm/profile.out
/oneDmgcm/run.def
/oneDmgcm/startfi.nc
/oneDmgcm/*.sh
